@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* font-family: 'Raleway', sans-serif; */

body {
    background-color: #E5E5E5;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rectangle_black {
    width: 700.3px;
    height: 973.99px;
    background: black;
    position: absolute;
    right: -50px;
    top: -201px;
    transform: rotate(9.67deg);
}