@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */


/* body {
    background: url('');
    /* overflow-x: hidden;
    background-color: var(--f-color);
} */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    --black-color: #000000;
    --britghtGrey-color: #d7d7d7;
    --mediunGrey-color: #c4c4c4;
    --darkGrey-color: #909090;
    --f-color: #ffffff;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--britghtGrey-color);
}

header {
    text-align: right;
}

header.rectangle_container {
    transform: rotate(9.67deg);
    position: absolute;
    top: -19rem;
    left: 98rem;
    width: 180rem;
    height: 137rem;
}

header nav {
    display: flex;
    width: 63rem;
    height: 4.6rem;
    line-height: 2.1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 6.2rem;
    right: 29.2rem;
    margin: 0.8rem;
}

header nav a {
    color: var(--f-color);
}

header nav div {
    display: flex;
    background-color: var(--f-color);
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black-color);
    border-radius: 3rem;
    border: 0.4rem solid var(--f-color);
    width: 14rem;
    height: 4.6rem;
    line-height: 1.8rem;
    justify-content: center;
    align-items: center;
}

nav div a {
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black-color);
}