@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */


/* body {
    background: url('');
    /* overflow-x: hidden;
    background-color: var(--f-color);
} */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    --black-color: #000000;
    --britghtGrey-color: #d7d7d7;
    --mediunGrey-color: #c4c4c4;
    --darkGrey-color: #909090;
    --f-color: #ffffff;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--britghtGrey-color);
}