@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */

:root {
    --f-color: #ffffff;
}

body {
    background-color: #E5E5E5;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rectangle_black {
    width: 700.3px;
    height: 973.99px;
    background: black;
    position: absolute;
    right: -85px;
    top: -50px;
    transform: rotate(9.67deg);
}

nav ol {
    color: var(--f-color);
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

ol {
    transform: rotate(-9.67deg);
    display: flex;
    width: 500px;
    flex-direction: row;
    position: relative;
    top: 70px;
    right: 20px;
    justify-content: space-between;
}

nav ol li+li+li+li a {
    color: black;
    padding: 6px;
    border-radius: 8px;
    background-color: white;
}

ol a {
    text-decoration: none;
    color: var(--f-color);
}

.rectangle_black img {
    position: absolute;
    top: 20%;
    right: 13%;
    transform: rotate(-9.67deg);
}